<%- include('header') -%>

    <h1>About ME:</h1>
    <p>My Name is Ayaz Ahmad And now I'm The web Developer & I'm the feature best hacker in the world how help the
        poor...
    </p>
    <h1 id="heading">My HOBBIES:</h1>
    <p>Javascript Professional</p>
    <p>CMD professional</p>
    <p>Faster Typing</p>
    <p>Building Free of COST institute</p>
    <%- include('footer') -%>