<%- include('header') -%>
    <h1 id="heading">IF You want help than contact me</h1>
    <p>EMAIL NO : forgithub44@gmail.com
    </p>
    <p>PH NO : +92_302-5773616</p>
    <p>Location : Khuiratta Kotli Azad Kashmir</p>
    <p>Twitter : dropoutyazi</p>
    <p>Github : dropoutyazi</p>
    <%- include('footer') -%>